<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Print Watcher({{server_ip}})</title>
        <style>
            div{
                color: red;
            }
        </style>
    </head>
    <h1>Print Watcher</h1>

    <body>
        <div>
            <h2>Temperature</h2>
            <ul>
                <li>Extruder : 20.2 C</li>
                <li>Bed Temperature : 25.2 C</li>
                <li> : 20.2 C</li>
            </ul>
        </div>
        <div>
            <h2>Gcode Files</h2>
            <ul>
                <li>First Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
                <li>Second Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
                <li>Third Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
                <li>Fourth Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
                <li>Fifth Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
            </ul>
        </div>
        <p>This is a simple UI created with python</p>
    </body>
</html>
