<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Moonraker Watcher</title>
        <link rel="icon" href="static/Logo.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="index.css">
    </head>
    <header>
        <a href="/" id="headerimg"><img src="static/Header.png"></a>
    </header>
    <body>
        <h1>Printer</h1>
        <div id="left" class = "w3-container">
            <div id="Temperature"> 
                <h2><u>Temperature</u></h2>
                <table id="tempTable">
                    <tr>
                        <th>Tool</th>
                        <th>C</th>
                    </tr>
                    <tr>
                        <td><b>Extruder 1</b></td>
                        <td>20.5 C</td>
                    </tr>
                    <tr>
                        <td><b>Heated Bed</b></td>
                        <td>25.4 C</td>
                    </tr>
                </table>
            </div>
            <div id="Printstat">
                <h2><u>Current Print</u></h2>
                <div id="Printstat stats">
                    <p><b>Printer State:</b> {{printer}}.</p>                 
                </div>
            </div>
        </div>
    </body>
</html>
