<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Print Watcher({{server_ip}})</title>
        </style>
    </head>
    <body>
        
        <h1>Print Watcher</h1>
        
        <div>
            <h2>Temperature</h2>
            
        </div>
        <div>
            <h2>Gcode Files</h2>
            <ul>
                <li>First Gcode</li> <a href="index.html"><img src="images/printer.jpg" width="20" height="20" alt="Print"></a>
                <li>Second Gcode</li>
                <li>Third Gcode</li>
                <li>Fourth Gcode</li>
                <li>Fifth Gcode</li>
            </ul>
        </div>
        <p>This is a simple UI created with python</p>
    </body>
</html>
